<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<table>
    <tr>
      <th>Author</th>
      <th>Date</th>
      <th>Post</th>
      <th>Action</th>
      
    </tr>
    <tbody>
      <tr *ngFor="let question of questionlist">
  
        <td>{{question.Author}}</td>
        <td>{{question.Post}}</td>
        <td>{{question.Date}}</td>
       <td><button (click)="delete(question.id)">Delete</button></td>
       
            
        
      </tr>
    </tbody>
    
  
  </table>
 