<div class="title" style="text-align: center;">
    <h1> Personanl Information </h1>
    <p>Simple informations such as: your name and image that using on my website</p>
</div>
<div class="person-info">
<table class="table"> 
    <tr>
    <td class="col" colspan="2"><h3>Your Profile</h3></td>
</tr>
<tr>
    <td >
            Image
    </td>
    <td>
        Change your image
    </td>
</tr>
<tr>
    <td>
        Account
    </td>
    <td>
        {{getName}}
    </td>
</tr>
<tr>
    <td>Password</td>
    <td>******</td>
</tr>
<tr>
    <td>Contact</td>
    <td ><p id="TxtEmail">{{getEmail}}</p></td>
    <!-- <td></td> -->
</tr>
</table> 
</div>
